@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">   
    <h1 class="display-4">Programación IV</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><img src="https://phantom-marca-mx.unidadeditorial.es/6609debb2e8e1c8d2f07ab7dc7778706/resize/828/f/jpg/mx/assets/multimedia/imagenes/2023/06/26/16878156101379.jpg" height="100px"></img></p>

</div>
